<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        cacheResultFile=".phpunit.cache/test-results"
        executionOrder="depends,defects"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        failOnRisky="true"
        failOnWarning="true"
        verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./Framework</directory>
            <directory suffix=".php">./Statistics</directory>
        </include>
    </coverage>
    <php>
        <const name="APP_TESTING" value="true"/>
    </php>
</phpunit>
